body
{
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 14px;
    margin: 0px;
}

a
{
    color: grey;
    text-decoration: none;

}

a:hover
    {
        text-decoration: underline;
    }

.carré
{
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.gmail
{
    padding-right:5px;
}

.images
{
    padding-left: 5px;
    padding-right: 5px;
}

.carré
{
    padding-left: 5px;
    padding-right: 5px;
}
.button1
{
    background-color: #4386f8;
    color: white;
    font-weight: bold;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 12px;
    border-radius: 5px;
    border-style: none;
}
.logo
{
    display: flex;
    justify-content: center;
}

.imglogo
{
    display: flex;
    justify-content: center;
    margin-top: 196px;
    width:300px;
    height: auto;
}
.searchform
{
    display: flex;
    justify-content: center;
    border-radius: 40px;
    padding-left: 30px;
    padding-right: 28px;
    padding-top: 11px;
    margin-bottom: 20px;

}
.button2
{
    display: flex;
    justify-content: center;

}

.button3
{
    background-color: #f2f2f2;
    color: darkgrey;
    padding: 10px;
    padding-right: 17px;
    padding-left: 17px;
    font-size: 14px;
    border-radius: 5px;
    border-style: none;
    margin: 10px;
}

.button4
{
    background-color: #f2f2f2;
    color: darkgrey;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 14px;
    border-radius: 5px;
    border-style: none;
    margin: 10px;
}

.boite1
{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    align-items: center;
}

.footerleft
{
    display: flex;
    justify-content: flex-start;
    background-color: #f2f2f2;
}

.footeright
{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.footer
{
    position: absolute;
    bottom: 0;
    width:100%;
    background-color:#f2f2f2;
    color: grey;
    padding-bottom: 10px;
    
    
}

.footerbottom
{
    display: flex;
    justify-content: space-between
}
.france
{
    background-color:#f2f2f2;
    width:100%;
    display: flex;
}

.francemot
{
    margin-left: 20px;
}

.lien1
{
    padding-right: 5px;
    margin-left: 20px;
}

.lien2
{
    padding-left: 5px;
    padding-right: 5px;
}

.lien3
{
    padding-left: 5px;
    padding-right: 5px;
}

.lien4
{
    padding-left: 5px;
}

.lien5
{
    padding-right: 5px;
}

.lien6
{
    padding-left: 5px;
    padding-right: 5px;
}

.lien7
{
    padding-left: 5px;
}

.lien8
{
    padding-left: 5px;
}
.searchbar
{
    width: 500px;
    border-radius: 20px;
    border: 2px solid #ededee;
    padding: 10px;
}
